h1 {
    background: black;
    border: 100000;
    box-sizing: border-box;
    margin: 1em;
    padding: 1em 2em;
    text-emphasis-color: white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body {

        color:black;
        background-color:rgb(255, 255, 255);
        background-image:url(https://www.wallpapertip.com/wmimgs/49-495765_search-results-for-anime-night-sky-wallpaper-hd.jpg);
   
}
